*{
    color: red;
 }
 h1{
     color: rgb(175, 103, 9); 
     font-style: bold;
     font-size: 20px;
 }
 /*this highlights for the comments */ /*but for html, you use <!-- words--!> */
 p{
     color: rgb(175, 103, 9); 
     font-style: bold;
     font-size: 20px;
 }
 #second-id{

 }
 #first-id{

 }
 .odd{

 }
 .even{
     
 
 }
 h1,p,h2{
     column-rule-color: blue;
     font-size: larger; grid-template-columns: minmax();font-kerning: normal;
 }
 .div p {
     color: aquamarine;
 }
